<ion-header>
  <ion-toolbar>
    <ion-title>speakers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6" *ngFor="let speaker of speakers">
          <ion-card class="speaker-card">
            <ion-card-header>
              <ion-item detail="false" lines="none" routerLink="/college/collegeTab/speakers/{{speaker.id}}">
                <ion-avatar slot="start">
                  <img [src]="speaker.profilePic" alt="Speaker profile pic">
                </ion-avatar>
                {{speaker.name}}
              </ion-item>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let session of speaker.sessions">
                  <h3>{{session.name}}</h3>
                </ion-item>

                <ion-item routerLink="/college/collegeTab/schedules/{{speaker.id}}">
                  <h3>About {{speaker.name}}</h3>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>